<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <mime-mapping>
    <extension>htm</extension>
    <mime-type>text/html;charset=utf-8</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html;charset=utf-8</mime-type>
  </mime-mapping>
  <display-name>微商城</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.plusyoou.servicemis.listeners.AppContextInit</listener-class>
  </listener>
    <filter>
        <display-name>WeiXinSessionFilter</display-name>
        <filter-name>WeiXinSessionFilter</filter-name>
        <filter-class>com.plusyoou.servicemis.filters.WinXinSession</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WeiXinSessionFilter</filter-name>
        <url-pattern>*.html</url-pattern>
    </filter-mapping>

  <servlet>
    <description>通过查询语句生成引擎产生SQL语句并返回语句执行结果</description>
    <display-name>getQueryResult</display-name>
    <servlet-name>getQueryResult</servlet-name>
    <servlet-class>com.plusyoou.servicemis.services.GetQueryResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getQueryResult</servlet-name>
    <url-pattern>/getQueryResult.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <description>验证用户名和密码</description>
      <display-name>LoginCheck</display-name>
      <servlet-name>LoginCheck</servlet-name>
      <servlet-class>com.plusyoou.servicemis.services.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginCheck</servlet-name>
      <url-pattern>/loginCheck.do</url-pattern>
  </servlet-mapping>

  <servlet>
      <description></description>
      <display-name>UploadImg</display-name>
      <servlet-name>UploadImg</servlet-name>
      <servlet-class>com.plusyoou.servicemis.services.UploadImg</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UploadImg</servlet-name>
      <url-pattern>/admin/uploadImg.do</url-pattern>
  </servlet-mapping>

  <servlet>
      <description></description>
      <display-name>UpdateTables</display-name>
      <servlet-name>UpdateTables</servlet-name>
      <servlet-class>com.plusyoou.servicemis.services.UpdateTables</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>UpdateTables</servlet-name>
      <url-pattern>/admin/updateRecord.do</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
      <display-name>CommonInsert</display-name>
      <servlet-name>CommonInsert</servlet-name>
      <servlet-class>com.plusyoou.servicemis.services.InsertIntoTables</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>CommonInsert</servlet-name>
      <url-pattern>/admin/saveNewRecord.do</url-pattern>
  </servlet-mapping>
	<servlet>
		<description>batch方式操作数据库</description>
		<display-name>ManipulateData</display-name>
		<servlet-name>ManipulateData</servlet-name>
		<servlet-class>com.plusyoou.servicemis.services.ManipulateData</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManipulateData</servlet-name>
		<url-pattern>/admin/manipulating.do</url-pattern>
	</servlet-mapping>


  <servlet>
      <description></description>
      <display-name>GetAdminInfo</display-name>
      <servlet-name>GetAdminInfo</servlet-name>
      <servlet-class>com.plusyoou.servicemis.services.GetAdminInfo</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>GetAdminInfo</servlet-name>
      <url-pattern>/admin/getinfo.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>访问日志记录接口</description>
    <display-name>RiZhiRecord</display-name>
    <servlet-name>RiZhiRecord</servlet-name>
    <servlet-class>com.plusyoou.servicemis.services.RiZhiRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiZhiRecord</servlet-name>
    <url-pattern>/wmall.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>微信接口</description>
    <display-name>weixin</display-name>
    <servlet-name>weixin</servlet-name>
    <servlet-class>com.plusyoou.servicemis.weixin.WeiXin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>weixin</servlet-name>
    <url-pattern>/weixin</url-pattern>
  </servlet-mapping>
</web-app>