<div style="text-align:center; padding:10px" class="image-editor">
	<span><i class="icon-spin icon-spinner icon-4x on-loading"></i></span>
	<div style="margin-bottom:30px">
  		<span class="btn btn-default" style="margin-right:3rem" onclick="$('.cropit-image-input').click();"><i class="icon-folder-open "></i>&nbsp;选择图片文件</span>
		<input type="range" style="display:inline-block; width:15rem;" class="cropit-image-zoom-input ui-corner-all" />
		<input type="file" style="display:none" class="cropit-image-input" />
	</div>
	<div style="margin:0 auto" class="cropit-preview ui-corner-all"></div>
</div>